:root {
  --Primario: #464646;
  --PrimarioL1: #919191;
  --PrimarioL2: #d9d9d9;
  --PrimarioL3: #e6e5e5;
  --PrimarioS1: #3f3f3f;
  --PrimarioS2: #2a2a2a;
  --Secundario: #bc1616;
  --SecundarioL1: #db1a1a;
  --SecundarioL2: #fd2b2b;
  --SecundarioS1: #921111;
  --SecundarioS2: #500808;
  --Blanco: #f8f8f8;
  --BlancoS1: #f3f3f3;
  --Negro: #1f1a1f;
  --Acento: #a2258e;
  --Exito: #317028;
  --ExitoS1: #2b6123;
  --Error: #e81d1d;

  --DegradeAcento: linear-gradient(97deg, #a2258e 30.73%, #670e59 89.24%);
  --DegradeRojoNaranja: linear-gradient(
    287deg,
    #f9a217 -20.3%,
    #e64e19 -12.35%,
    #db1a1a -7.44%,
    #500808 97.12%
  );
  --font-family-Roboto: "Roboto", sans-serif;
  --h1-banner-font-size: 60px;
  --h1-banner-font-style: italic;
  --h1-banner-font-weight: 700;
  --h2-font-size: 35px;
  --h2-font-weight: 800;
  --h2-letter-spacing: 0.35px;
  --h3-font-size: 27px;
  --h3-font-weight: 400;
  --h3-letter-spacing: 0.27px;
  --h4-font-size: 20px;
  --h4-font-weight: 400;
  --h4-letter-spacing: 0.2px;
  --body_bold_boton-font-size: 16px;
  --body-font-size: 16px;
  --body-font-weight: 300;
  --footer-font-opacity: 0.85;
  --body-letter-spacing: 0.16px;
  --bodyBold-weight: 600;
  --enlace-font-weight: 500;
  --enlace-letter-spacing: 0.16px;
  --enlace-text-decoration-line: underline;
  --boton-font-weight: 400;
  --boton-letter-spacing: 0.16px;

  --SombraCards: 1px 1px 8px 0px rgba(31, 26, 31, 0.75);
  --SombraHeader: 0px 1px 2px 0px rgba(79, 79, 79, 0.49);
  --SombraMiPerfil: -2px -2px 10px 0px rgba(79, 79, 79, 0.45);
  --SombraEsparcida: 1px 1px 20px 0px rgba(31, 26, 31, 0.51);
  --SombraChicaInputs: 1px 1px 3px 0px rgba(113, 107, 107, 0.1);
}
* {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-Roboto);
  box-sizing: border-box;
}
h1 {
  font-size: var(--h1-banner-font-size);
  font-style: var(--h1-banner-font-style);
  font-weight: var(--h1-banner-font-weight);
  color: var(--Blanco);
  text-align: center;
}
h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  letter-spacing: var(--h2-letter-spacing);
}
h3 {
  color: var(--Blanco);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
}
h4 {
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
}
.font_boton {
  font-size: var(--body_bold_boton-font-size);
  font-weight: var(--boton-font-weight);
  letter-spacing: var(--boton-letter-spacing);
  color: var(--Blanco);
}
.font_body {
  font-size: var(--body_bold_boton-font-size);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  color: var(--Blanco);
}
.font_body.bold{
  font-weight: var(--bodyBold-weight);
}
.font_banner {
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.boton {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  position: relative;
  min-width: 125px;
}
.boton.primario {
  background-color: var(--Primario);
}
.boton.violeta {
  background-color: var(--Acento);
}
.boton.verde {
  background-color: var(--Exito);
}
.boton.rojo {
  background-color: var(--Secundario);
  
}
.boton div {
  position: relative;
}
.boton div svg {
  position: absolute;
}
.boton .tilde {
  position: absolute;
  right: 9px;
  bottom: calc(50% + 9px / 2);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  display: flex;
  height: 100px;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Primario);
}
header > div {
  display: flex;
  align-items: center;
  gap: 11px;
}
header > div a img {
  width: 200px;
}
.contenedor_general {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header svg{
  cursor: pointer;
}

/* BANNERS */

.carrusel_banner {
  display: flex;
  overflow-x: hidden;
  width: 100vw;
  align-self: center;
  max-width: 430px;
}
.bannerCelu {
  display: flex;
  flex-direction: column;
}
.bannerCelu > img {
  width: 430px;
  height: 235px;
}
.bannerCelu .texto {
  background: var(--DegradeRojoNaranja);
  display: flex;
  width: 430px;
  padding: 15px 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
  min-height: 120px;
}
.bannerCelu .texto h1 {
  font-size: 40px;
}
.bannerCelu .texto button,
.bannerCompu .informacion button {
  font-size: 30px;
}
.bannerCompu {
  display: none;
}
.contenedor_general .pelotitas_banners {
  display: flex;
  align-items: flex-end;
  gap: 35px;
  margin-top: 20px;
}
.contenedor_general .contenedor_categorias {
  display: none;
}

/* CARD JUEGO */
.card_juego {
  display: flex;
  min-width: 265px;
  max-width: 265px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  border-radius: 7px;
  background: var(--Blanco);
  box-shadow: var(--SombraCards);
  overflow: hidden;
}
.card_juego img {
  width: 374px;
  height: 220px;
}
.card_juego > div {
  display: flex;
  padding: 0px 14px 14px 14px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  overflow: hidden;
}
.card_juego > div h3 {
  width: calc(265px - 28px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--Negro);
}
.card_juego > div h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--PrimarioS1);
}
.card_juego.conCinta {
  position: relative;
  overflow: visible;
}
.card_juego img {
  object-fit: cover;
}
.card_juego .contenedorImagen {
  padding: 0;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.card_juego .contenedor_cinta {
  position: absolute;
  top: -28px;
  left: -17px;
  padding: 0;
}
.cinta {
  position: relative;
  height: 108px;
  width: 122px;
}
.contenedor_juegos .card_juego.conCinta .cinta svg {
  display: inline;
  position: absolute;
}
.cinta.carrito svg.medio path{
  fill: var(--Acento);
}
.cinta.carrito svg.izquierda path,.cinta.carrito svg.derecha path{
  fill: #6e1b60;
}
.cinta svg.izquierda {
  bottom: 0;
  left: 0;
  position: absolute;

}
.cinta svg.derecha {
  right: 0;
  top: 5px;
  position: absolute;
  box-shadow: none;
}
.cinta p {
  position: absolute;
  color: var(--Blanco);
  rotate: -39deg;
  top: calc(108px / 2 - 33px / 2);
  left: calc(122px / 2 - 67px / 2);
}
.cinta.carrito p {
  rotate: -40deg;
  top: 48px;
  left: 38px;
}
.cinta.carrito p svg path{
  stroke: var(--PrimarioL3);
}
/* CARRUSELES JUEGOS */
.carrusel_juegos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carrusel_juegos h2 {
  margin-left: 12px;
  font-size: 30px;
}
.carrusel_juegos > div {
  display: flex;
  align-items: center;
}
.carrusel_juegos > div svg {
  display: none;
}

.carrusel_juegos > div .contenedor_juegos {
  display: flex;
  overflow-x: scroll;
  width: calc(100vw - 30px);
  max-width: 1440px;
  gap: 20px;
  padding: 30px 10px;
}

 /* ASIDE CATEGORIAS */
 aside.categorias.oculto{
  display: none;
}
aside.categorias.ocultoConAnimacion{
  animation: desaparecerCategorias 300ms;
}
aside.categorias{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--PrimarioS2);
  height: 100vh;
  width: 173px;
  position: absolute;
  left: 0;
  top: 100px;
  z-index: 70;
  animation: aparecerCategorias 300ms;
}

aside.categorias ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  list-style: none;
}
aside.categorias ul li{
  display: flex;
  width: 173px;
  height: 39px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
aside.categorias ul li a{
  color: var(--Blanco);
  text-decoration: none;
}

/* PERFIL */
aside.contenedor_perfil.ocultoConAnimacion{
  animation: desaparecerContenedorPerfil 300ms;
}
aside.contenedor_perfil.oculto{
  display: none;
}
aside.contenedor_perfil{
  display: flex;
  width: 262px;
  height: 181px;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--PrimarioS2);
  box-shadow: var(--SombraMiPerfil);
  position: absolute;
  right: 0;
  top: 100px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  animation: aparecerContenedorPerfil 300ms;
  z-index: 70;
}
aside.contenedor_perfil > img{
  width: 84px;
  height: 84px;
}
aside.contenedor_perfil > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
aside.contenedor_perfil > div ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
aside.contenedor_perfil > div ul li{
  display: flex;
  align-items: center;
  gap: 3px;
  list-style: none;
}
/* CARRITO */ 
aside.contenedor_carrito.ocultoConAnimacion{
  animation: desaparecerCarrito 300ms;
}
aside.contenedor_carrito.oculto{
  display: none;
}
aside.contenedor_carrito{
  width: 348px;
  min-height: 578px;
  padding: 12px;
  background-color: var(--PrimarioS2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px 0;
  position: absolute;
  top: 100px;
  right: 0;
  z-index: 70;
  animation: aparecerCarrito 300ms;
}
aside.contenedor_carrito > div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
aside.contenedor_carrito > div ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
aside.contenedor_carrito > div ul li{
  display: flex;
  width: 285px;
  padding: 5px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 1px;
}
aside.contenedor_carrito > div ul li div span{
  white-space: nowrap;      
  overflow: hidden;          
  text-overflow: ellipsis;
  width: 127px;
}
aside.contenedor_carrito > div ul li img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
aside.contenedor_carrito > div ul li > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
aside.contenedor_carrito h4{
  width: 100%;
  color: var(--Blanco);
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #3F3F3F;
  border-bottom: 1px solid #3F3F3F;
}

/* FOOTER */
footer {
  width: 100%;
}
.info_footer {
  display: flex;
  padding: 92px 57px 93px 58px;
  justify-content: center;
  align-items: center;
  background-color: var(--Primario);
}
.info_footer_categorias {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}
.secciones_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.secciones_footer ul li:first-child {
  font-family: var(--font-family-Roboto);
  font-size: var(--body_bold_boton-font-size);
  font-style: normal;
  font-weight: var(--bodyBold-weight);
  letter-spacing: var(--body-letter-spacing);
  opacity: 1;
}
.secciones_footer ul li:last-child {
  margin-bottom: 0;
}
.secciones_footer li {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
  color: var(--Blanco);
  font-family: var(--font-family-Roboto);
  font-size: var(--body-font-size);
  font-style: normal;
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  opacity: var(--footer-font-opacity);
}
.secciones_footer li svg {
  margin-right: 5px;
}
.redes_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconos_redes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}
.linea_separadora_icono {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 283px;
  height: 1px;
  background-color: var(--Blanco);
}
.contenedor_icono {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}
.logo_footer {
  width: 279px;
  height: 79px;
}
footer .bot {
  display: flex;
  height: 52px;
  justify-content: center;
  align-items: center;
  background: var(--PrimarioS2);
}

@media only screen and (min-width: 1024px) {
  header {
    padding: 0 30px;
  }
  header > div a img {
    width: 283px;
  }
  .contenedor_general {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* BANNERS */
  .carrusel_banner {
    width: 100%;
    max-width: 1440px;
  }
  .bannerCelu {
    display: none;
  }
  .bannerCompu {
    width: 1440px;
    height: 530px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .bannerCompu img {
    width: 1014px;
  }
  .bannerCompu .informacion {
    position: relative;
    display: flex;
    align-items: center;
    width: 455px;
  }
  .bannerCompu .informacion svg {
    position: absolute;
  }

  .bannerCompu .informacion .mensaje {
    z-index: 10;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    transform: translateX(60px);
  }
  .bannerCompu .informacion .mensaje > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  /*categorias populares*/
  .contenedor_general .contenedor_categorias {
    display: flex;
    padding: 22px 10px;
    justify-content: center;
    align-items: center;
    gap: 35px;
    align-self: stretch;
  }
  .categoria_popular {
    display: flex;
    width: 110px;
    height: 110px;
    padding: 22px 13px 25px 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6.764px;
    border-radius: 1540px;
    background-color: var(--Blanco);
    box-shadow: var(--SombraHeader);
    cursor: pointer;
  }
  .categoria_popular label {
    color: var(--SecundarioL1);
    font-size: var(--body-font-size);
    font-weight: var(--bodyBold-weight);
    letter-spacing: var(--body-letter-spacing);
  }
  .icono_categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icono_categoria svg {
    width: 31.72px;
    height: 37.236px;
    fill: var(--SecundarioL1);
  }
  /* carruseles juego */
  .carrusel_juegos h2 {
    margin-left: 42px;
    font-size: var(--h2-font-size);
  }
  .carrusel_juegos > div svg {
    display: inline;
  }
  .carrusel_juegos > div .contenedor_juegos {
    width: calc(100vw - 90px);
    overflow: hidden;
  }

 


  /*footer*/
  .info_footer_categorias {
    max-width: 1440px;
    justify-content: space-between;
    gap: 144px;
  }
}

/* fondo opacidad */
.ocultarConAnimacion{
  animation: desaparecerFondoOpacidad 300ms;
}
.ocultar{
  display: none;
}
.mostrar{
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  animation: aparecerFondoOpacidad 300ms;
}

@keyframes aparecerCategorias {
  0%{
    width: 0;
  }
  100%{
    width: 173px;
  }
}
@keyframes desaparecerCategorias {
  0%{
    width: 173px;
  }
  100%{
    width: 0;
  }
}
@keyframes aparecerFondoOpacidad {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes desaparecerFondoOpacidad {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes aparecerContenedorPerfil {
  0%{
    top: -50px;
  }
  100%{
    top: 100px;
  }
}
@keyframes desaparecerContenedorPerfil {
  0%{
    top: 100px;
  }
  100%{
    top: -150px;
  }
}
@keyframes aparecerCarrito {
  0%{
   right: -200px;
  }
  100%{
    right: 0;
  }
}
@keyframes desaparecerCarrito {
  0%{
   right: 0;
  }
  100%{
    right:  -348px;
  }
}